body {
color: #444;
font-family: 'Open Sans Condensed', sans-serif;
max-width: 60vw;
margin: 0 auto 
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin-block-start: 10vw;
margin-block-end: 5vw;
font-family: Arimo, Helvetica, sans-serif;
}

h1,
h2,
h3 {
border-bottom: 1vw solid #fafafa;
}

blockquote {
border-left: 1vw solid #fafafa;
padding: 1vw;
}

p {
margin-block-start: 1.5em;
margin-block-end: .5em;
}

pre,
code {
font-family: Menlo, Monaco, "Courier New", monospace;
background-color: #fafafa;
}

pre {
padding: .5rem;
line-height: 1.25;
overflow-x: scroll;
}

.site-header {
    min-height: 55.95px;
    position: relative
}



@media screen and (max-width: 800px) {
    body {
        max-width: 95vw;
        }
}


.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left
}

.site-title, .site-title:visited {
    color: #424242
}

.site-footer .site-title, .site-header .site-title {
    letter-spacing: 0.15rem;
    display: block;
    text-align: center;
    margin: 2rem auto;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    float: none;
    color: #fcfdff;
    text-decoration: none
}

.site-footer, .site-header {
    color: #fcfdff
}