body {
color: #444;
font-family: 'Open Sans Condensed', sans-serif;
max-width: 60vw;
margin: 0 auto 
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin-block-start: 3vw;
margin-block-end: 2vw;
font-family: Arimo, Helvetica, sans-serif;
}

h1,
h2,
h3 {
border-bottom: 1vw solid #fafafa;
}

blockquote {
border-left: 1vw solid #fafafa;
padding: 1vw;
}

p {
margin-block-start: 1.5em;
margin-block-end: .5em;
}

pre,
code {
font-family: Menlo, Monaco, "Courier New", monospace;
background-color: #fafafa;
}

pre {
padding: .5rem;
line-height: 1.25;
overflow-x: scroll;
}

@media screen and (max-width: 800px) {
    body {
        max-width: 95vw;
        }
}


.site-footer .site-title, .site-header .site-title {
    display: block;
    text-align: center;
    margin: 5vw auto;
    float: none;
    text-decoration: none;
    font-size: 3em;
}